.order_tracking_code input{
	display:inline-block;
	float:left;
	width:60% !important;
}
.order_tracking_code button.save{
	display:block;
	-indent:-9999px;
	position:relative;
	height:1em;
	width:1em;
	padding:0 !important;
	height:2em !important;
	width:2em;
	float:left;
	display:inline-block;
	margin-left:.5em;
}
.order_tracking_code button.save:after{
	font-family:'WooCommerce';
	speak:none;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	margin:0;
	text-indent:0;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	content:"\e001";
	line-height:1.85;
	content:"\e015";
}