#wc-correios-simulator:before,
#wc-correios-simulator:after {
    content: " ";
    display: table;
}

#wc-correios-simulator:after,
#wc-correios-simulator .clear {
    clear: both;
}

#wc-correios-simulator {
    *zoom: 1;
    margin-top: 20px;
    display: inline-block;
}

#wc-correios-simulator p {
	margin-bottom: 5px;
}

#wc-correios-simulator #zipcode {
	float: left;
	margin-right: 5px;
	height: 28px;
	border-color: #C8BFC6;
	-webkit-box-shadow: 0 0 2px 0 #F7F6F7 inset;
	box-shadow: 0 0 2px 0 #F7F6F7 inset;
	font-weight: 700;
	padding: 0 5px;
}

#wc-correios-simulator #simulator-data {
	margin-top: 5px;
}
