/**
 * Tracking code metabox styles.
 */

#poststuff #wc_correios .inside {
	padding: 0;
}

.correios-tracking-code__list {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 10px;
}

.correios-tracking-code__list ul {
	display: block;
	list-style-type: circle;
	margin: .5em 0;
	padding-left: 1.2em;
}

.correios-tracking-code .dashicons-dismiss {
	color: #a00;
	margin-left: .4em;
	text-decoration: none;
	vertical-align: baseline;
}

.correios-tracking-code .dashicons-dismiss:hover {
	color: red;
	text-decoration: none;
}

.correios-tracking-code .dashicons-dismiss::before {
	font-family: "Dashicons";
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

.correios-tracking-code .dashicons-plus::before {
	font-family: "Dashicons";
}

.correios-tracking-code fieldset {
	padding: 0 10px 10px;
}

.correios-tracking-code label {
	display: block;
}

.correios-tracking-code input {
	width: 225px;
}

#poststuff .correios-tracking-code button {
	height: 24px;
	line-height: 1;
	padding: 5px;
	width: 24px;
}
